    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        #contest{
            margin-top: -50px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        #contest{
            margin-top: -20px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        #contest{
            margin-top: -20px;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        #contest{
            margin-top: 20px;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        #contest{
            margin-top: 20px;
        }
    }