<div id="calendar" class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="text-shadow">31 DAYS OF GET SCARED: UNLOCK NEW CONTENT EVERYDAY!</h2>
		</div>
	</div>
	<div class="row seven-cols visible-lg">
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 text-center day">
			<h4>Sunday</h4>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 text-center day">
			<h4>Monday</h4>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 text-center day">
			<h4>Tuesday</h4>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 text-center day">
			<h4>Wednesday</h4>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 text-center day">
			<h4>Thursday</h4>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 text-center day">
			<h4>Friday</h4>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 text-center day">
			<h4>Saturday</h4>
		</div>
	</div>
	<div class="row hidden-lg">
		<div class="col-lg-12">
			<h2 class="text-shadow">Week 1</h2>
		</div>
	</div>
	<div class="row seven-cols">
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img hidden" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>			
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img hidden" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img hidden" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img hidden" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6" data-toggle="modal" data-target="#day1">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/day1thumb.jpg'>
			<div class="number"><h3>1</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6" data-toggle="modal" data-target="#day2">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/day2thumb.jpg'>
			<div class="number"><h3>2</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 day3">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>3</h3></div>
		</div>
	</div>
	<div class="row hidden-lg">
		<div class="col-lg-12">
			<h2 class="text-shadow">Week 2</h2>
		</div>
	</div>	
	<div class="row seven-cols">
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6 day4">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>4</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6" data-toggle="modal" data-target="#day5">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/day5thumb.jpg '>
			<div class="number"><h3>5</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6" data-toggle="modal" data-target="#day6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/day6thumb.jpg'>
			<div class="number"><h3>6</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6" data-toggle="modal" data-target="#day7">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/day7thumb.jpg '>
			<div class="number"><h3>7</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6" data-toggle="modal" data-target="#day8">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/day8thumb.jpg '>
			<div class="number"><h3>8</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6" data-toggle="modal" data-target="#day9">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/day9thumb.jpg '>
			<div class="number"><h3>9</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>10</h3></div>
		</div>
	</div>
	<div class="row hidden-lg">
		<div class="col-lg-12">
			<h2 class="text-shadow">Week 3</h2>
		</div>
	</div>
	<div class="row seven-cols">
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>11</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>12</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>13</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>14</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>15</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>16</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>17</h3></div>
		</div>
	</div>
	<div class="row hidden-lg">
		<div class="col-lg-12">
			<h2 class="text-shadow">Week 4</h2>
		</div>
	</div>		
	<div class="row seven-cols">
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>18</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>19</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>20</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>21</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>22</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>23</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>24</h3></div>
		</div>
	</div>
	<div class="row hidden-lg">
		<div class="col-lg-12">
			<h2 class="text-shadow">Week 5</h2>
		</div>
	</div>
	<div class="row seven-cols">
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>25</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>26</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>27</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>28</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>29</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>30</h3></div>
		</div>
		<div class="col-lg-1 col-md-3 col-sm-4 col-xs-6">
			<img class="full-w calendar-img" src='https://s3.amazonaws.com/myfangate.com/getscared/album.jpg '>
			<div class="number"><h3>31</h3></div>
		</div>
	</div>				
</div>
