<div id="contest" class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 text-center">
			<div class="cta"><h2 class="text-shadow">SUBMIT YOUR #31DAYSOFGETSCARED VIDEO!</h2>
			<h2 class="text-shadow">FIND OUT HOW HERE <i class="fa fa-arrow-right visible-md visible-lg"></i></h2></div>
		</div>
		<div class="col-lg-6 col-md-6 ">
			<div onload='alignCta();' class="embed-responsive embed-responsive-16by9 borderimg">
			  <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/JxS5E-kZc2s?rel=0&showinfo=0"></iframe>
			</div>			
		</div>
	</div>
</div>