<div id="tagline-top" class="footer"></div>
<div id="tagline">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 text-center">
				<a href="https://www.facebook.com/GetScaredBand" target="_blank">
					<span class="fa-stack fa-lg">
					  <i style="color: black;" class="fa fa-circle fa-stack-2x"></i>
					  <i id="facebook" style="color: white;" class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="https://twitter.com/WeGetScared" target="_blank">
					<span class="fa-stack fa-lg">
					  <i style="color: black;" class="fa fa-circle fa-stack-2x"></i>
					  <i id="twitter" style="color: white;" class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="https://instagram.com/wegetscared" target="_blank">
					<span class="fa-stack fa-lg">
					  <i style="color: black;" class="fa fa-circle fa-stack-2x"></i>
					  <i id="youtube" style="color: white;" class="fa fa-instagram fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				<a href="http://fearlessrecords.com/" target="_blank">
					<img src="https://s3.amazonaws.com/myfangate.com/getscared/fearlesslogo.png">
				</a>				
			</div>
		</div>
	</div>
</div>	