<div id="header" class="container">
	<div class="row">
		<div class="col-lg-12">
			<img class="full-w shadowed" src="https://s3.amazonaws.com/myfangate.com/getscared/header.png">
		</div>
	</div>
</div>
<div id="tagline-top"></div>
<div id="tagline">
	<div class="container">
		<div class="row tagline">
			<div class="col-lg-12">
				<img class="full-w shadowed" src="https://s3.amazonaws.com/myfangate.com/getscared/tagline1.png">
			</div>								
		</div>
		<div class="row preorder">
			<div class="col-lg-6 col-sm-12 col-sm-offset-0">
				<img class="full-w pre-text shadowed" src="https://s3.amazonaws.com/myfangate.com/getscared/tagline2.png">
			</div>			
			<div class="col-lg-2 col-lg-offset-0 col-sm-2 col-sm-offset-3 col-xs-4">
				<a href="#" target="_blank"><img class="full-w pre-badge" src="https://s3.amazonaws.com/myfangate.com/getscared/itunes.png"></a>
			</div>			
			<div class="col-lg-2 col-sm-2 col-sm-offset-0 col-xs-4">
				<a href="#" target="_blank"><img class="full-w pre-badge" src="https://s3.amazonaws.com/myfangate.com/getscared/merchnow.png"></a>
			</div>			
			<div class="col-lg-2 col-sm-2 col-sm-offset-0 col-xs-4">
				<a href="#" target="_blank"><img class="full-w pre-badge" src="https://s3.amazonaws.com/myfangate.com/getscared/firebrand.png"></a>
			</div>				
		</div>
	</div>
</div>
<div id="tagline-bottom"></div>