<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Type">

<!-- Place this data between the <head> tags of your website -->
<title>#31DaysOfGS</title>
<meta name="description" content="SUBMIT YOUR #31DaysOfGS VIDEO!" />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="#31DaysOfGS">
<meta itemprop="description" content="SUBMIT YOUR #31DaysOfGS VIDEO!">
<meta itemprop="image" content="https://s3.amazonaws.com/myfangate.com/getscared/shareimage.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@wegetscared">
<meta name="twitter:title" content="#31DaysOfGS">
<meta name="twitter:description" content="SUBMIT YOUR #31DaysOfGS VIDEO!">
<meta name="twitter:creator" content="@wegetscared">
<meta name="twitter:image" content="https://s3.amazonaws.com/myfangate.com/getscared/shareimage.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="#31DaysOfGS" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://getscaredband.com/31days" />
<meta property="og:image" content="https://s3.amazonaws.com/myfangate.com/getscared/shareimage.jpg" />
<meta property="og:description" content="SUBMIT YOUR #31DaysOfGS VIDEO!" />
<meta property="og:site_name" content="#31DaysOfGS" />