<!-- Day1 -->
<div class="modal fade" id="day1" tabindex="-1" role="dialog" aria-labelledby="day1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/LLAKZUmrMmU?rel=0&showinfo=0"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>

<!-- Day2 -->
<div class="modal fade" id="day2" tabindex="-1" role="dialog" aria-labelledby="day2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/hN7Afr-m_TQ?rel=0&showinfo=0"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>

<!-- Day3 -->
<div class="modal fade" id="day3" tabindex="-1" role="dialog" aria-labelledby="day3">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div id="spotify">
			<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Agetscaredpagesofficial%3Aplaylist%3A59A3DIX5qDhJKaP0mg1l5p" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>

<!-- Day4 -->
<div class="modal fade" id="day4" tabindex="-1" role="dialog" aria-labelledby="day4">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
    		<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:62.421875% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://instagram.com/p/8UEBi1TSvR/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">i had to cancel the sound bc mother kept cursing like crazy and im so sorry that the camera kind of wandered but yooo #31DaysofGS with my &#34;cheap tricks and theatrics&#34; makeup on, ill be posting my album art remake soon as well, but for now enjoy :))) #getscared #band #bands #music #song#rock #punk #punkrock #poppunk #twentyonepilots #piercetheveil #sleepingwithsirens #grunge #tumblr #kawaii #pastel #pale #metal #bringmethehorizon #ofmiceandmen #alltimelow #nicholasmatthews #nickmatthews  #johnnyb #johnnybraddock #danjuarez #bradleyiverson #adamvirostko</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A video posted by Get Scared (@wegotscared) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-10-01T23:30:39+00:00">Oct 1, 2015 at 4:30pm PDT</time></p></div></blockquote>
    		<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
      </div>    
    </div>
  </div>
</div>

<!-- Day4 -->
<div class="modal fade" id="day5" tabindex="-1" role="dialog" aria-labelledby="day5">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://instagram.com/p/8T1gCSSERr/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">#31DAYSOFGS Getting my scare on (at work) for the beginning of October and to get myself ready for Halloween 😈 Everyone help my friends @wegetscared countdown to the release of their album by scaring anyone/everyone and uploading it with the hashtag #31daysofgs :)</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A video posted by Marienne Te Haara (@eventjunkie) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-10-01T21:23:44+00:00">Oct 1, 2015 at 2:23pm PDT</time></p></div></blockquote>
        <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
              </div>    
    </div>
  </div>
</div>