<!-- Day1 -->
<div class="modal fade" id="day1" tabindex="-1" role="dialog" aria-labelledby="day1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/LLAKZUmrMmU?rel=0&showinfo=0"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>

<!-- Day2 -->
<div class="modal fade" id="day2" tabindex="-1" role="dialog" aria-labelledby="day2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/hN7Afr-m_TQ?rel=0&showinfo=0"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>

<!-- Day3 -->
<div class="modal fade" id="day3" tabindex="-1" role="dialog" aria-labelledby="day3">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div id="spotify">
			<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Agetscaredpagesofficial%3Aplaylist%3A59A3DIX5qDhJKaP0mg1l5p" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>

<!-- Day4 -->
<div class="modal fade" id="day4" tabindex="-1" role="dialog" aria-labelledby="day4">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
    		<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:62.421875% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://instagram.com/p/8UEBi1TSvR/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">i had to cancel the sound bc mother kept cursing like crazy and im so sorry that the camera kind of wandered but yooo #31DaysofGS with my &#34;cheap tricks and theatrics&#34; makeup on, ill be posting my album art remake soon as well, but for now enjoy :))) #getscared #band #bands #music #song#rock #punk #punkrock #poppunk #twentyonepilots #piercetheveil #sleepingwithsirens #grunge #tumblr #kawaii #pastel #pale #metal #bringmethehorizon #ofmiceandmen #alltimelow #nicholasmatthews #nickmatthews  #johnnyb #johnnybraddock #danjuarez #bradleyiverson #adamvirostko</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A video posted by Get Scared (@wegotscared) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-10-01T23:30:39+00:00">Oct 1, 2015 at 4:30pm PDT</time></p></div></blockquote>
    		<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
      </div>    
    </div>
  </div>
</div>

<!-- Day4 -->
<div class="modal fade" id="day5" tabindex="-1" role="dialog" aria-labelledby="day5">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://instagram.com/p/8T1gCSSERr/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">#31DAYSOFGS Getting my scare on (at work) for the beginning of October and to get myself ready for Halloween 😈 Everyone help my friends @wegetscared countdown to the release of their album by scaring anyone/everyone and uploading it with the hashtag #31daysofgs :)</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A video posted by Marienne Te Haara (@eventjunkie) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-10-01T21:23:44+00:00">Oct 1, 2015 at 2:23pm PDT</time></p></div></blockquote>
        <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
      </div>    
    </div>
  </div>
</div>

<!-- Day6 -->
<div class="modal fade" id="day6" tabindex="-1" role="dialog" aria-labelledby="day6">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/cjgBnTLoACQ?rel=0&showinfo=0"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>

<!-- Day7 -->
<div class="modal fade" id="day7" tabindex="-1" role="dialog" aria-labelledby="day7">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/1n_ZvqKIPqo?rel=0&showinfo=0"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>

<!-- Day8 -->
<div class="modal fade" id="day8" tabindex="-1" role="dialog" aria-labelledby="day8">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/S7cixXa8WLI?rel=0&showinfo=0"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>

<!-- Day9 -->
<div class="modal fade" id="day9" tabindex="-1" role="dialog" aria-labelledby="day9">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>            
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-1.jpg">
            </div>

            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-2.jpg">
            </div>

            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-3.jpg">
            </div>

            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-4.jpg">
            </div>

            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-5.jpg">
            </div>

            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-6.jpg">
            </div>

            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-7.jpg">
            </div>            
          </div>

          <!-- Left and right controls -->
          <a class="slide-controls left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="slide-controls right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span aria-hidden="true"><i class="fa fa-arrow-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </div>          
      </div>    
    </div>
  </div>
</div>

<!-- Day10 -->
<div class="modal fade" id="day10" tabindex="-1" role="dialog" aria-labelledby="day10">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:62.5% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://instagram.com/p/8jgn6xjmCw/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">#31daysofgs @wegetscared</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A video posted by Marissa Ortiz (@another.identity) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-10-07T23:29:09+00:00">Oct 7, 2015 at 4:29pm PDT</time></p></div></blockquote>
        <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
      </div>    
    </div>
  </div>
</div>

<!-- Day11 -->
<div class="modal fade" id="day11" tabindex="-1" role="dialog" aria-labelledby="day11">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/B5k0seQrSIg?rel=0&showinfo=0"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>

<!-- Day12 -->
<div class="modal fade" id="day12" tabindex="-1" role="dialog" aria-labelledby="day12">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <div id="myCarousel2" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel2" data-slide-to="1"></li>            
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/drawing1.jpg">
            </div>

            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/drawing2.jpg">
            </div>           
          </div>

          <!-- Left and right controls -->
          <a class="slide-controls left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
            <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="slide-controls right carousel-control" href="#myCarousel2" role="button" data-slide="next">
            <span aria-hidden="true"><i class="fa fa-arrow-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </div>          
      </div>    
    </div>
  </div>
</div>

<!-- Day13 -->
<div class="modal fade" id="day13" tabindex="-1" role="dialog" aria-labelledby="day13">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <div id="myCarousel3" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel3" data-slide-to="1"></li>            
            <li data-target="#myCarousel3" data-slide-to="2"></li>  
            <li data-target="#myCarousel3" data-slide-to="3"></li>
            <li data-target="#myCarousel3" data-slide-to="4"></li>                                       
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-2-1.jpg">
            </div>  
            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-2-2.jpg">
            </div>  
            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-2-3.jpg">
            </div>  
            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-2-4.jpg">
            </div>  
            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-2-5.jpg">
            </div>                                                           
          </div>

          <!-- Left and right controls -->
          <a class="slide-controls left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
            <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="slide-controls right carousel-control" href="#myCarousel3" role="button" data-slide="next">
            <span aria-hidden="true"><i class="fa fa-arrow-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </div>          
      </div>    
    </div>
  </div>
</div>

<!-- Day14 -->
<div class="modal fade" id="day14" tabindex="-1" role="dialog" aria-labelledby="day14">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://instagram.com/p/8n1hyVQ4_4/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">getting in the spirit for #31daysofgs @wegetscared  new album is available for preorder btw and it sounds rad af so far</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A video posted by b en ja a m i n (@ohhiiiben) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-10-09T15:48:47+00:00">Oct 9, 2015 at 8:48am PDT</time></p></div></blockquote>
        <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>        
      </div>    
    </div>
  </div>
</div>

<!-- Day15 -->
<div class="modal fade" id="day15" tabindex="-1" role="dialog" aria-labelledby="day15">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <div id="myCarousel4" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel4" data-slide-to="1"></li>                                                   
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img style="margin: 0 auto;" src="https://s3.amazonaws.com/myfangate.com/getscared/slide-3-1.jpg">
            </div>  
            <div class="item">
              <img style="margin: 0 auto;" src="https://s3.amazonaws.com/myfangate.com/getscared/slide-3-2.jpg">
            </div>                                                             
          </div>

          <!-- Left and right controls -->
          <a class="slide-controls left carousel-control" href="#myCarousel4" role="button" data-slide="prev">
            <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="slide-controls right carousel-control" href="#myCarousel4" role="button" data-slide="next">
            <span aria-hidden="true"><i class="fa fa-arrow-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </div>          
      </div>    
    </div>
  </div>
</div>

<!-- Day16 -->
<div class="modal fade" id="day16" tabindex="-1" role="dialog" aria-labelledby="day16">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Hope you guys find this a little funny. (: <a href="https://twitter.com/WeGetScared">@WeGetScared</a> <a href="https://twitter.com/hashtag/31daysofGS?src=hash">#31daysofGS</a> <a href="http://t.co/eee2AGxP3L">pic.twitter.com/eee2AGxP3L</a></p>&mdash; Ashley Clifford (@Nikki_bvb00) <a href="https://twitter.com/Nikki_bvb00/status/654073905540272129">October 13, 2015</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> 
      </div>    
    </div>
  </div>
</div>

<!-- Day17 -->
<div class="modal fade" id="day17" tabindex="-1" role="dialog" aria-labelledby="day17">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/1fHAar6LvN0?rel=0&showinfo=0"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>

<!-- Day18 -->
<div class="modal fade" id="day18" tabindex="-1" role="dialog" aria-labelledby="day18">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <div id="myCarousel5" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel5" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel5" data-slide-to="1"></li>            
            <li data-target="#myCarousel5" data-slide-to="2"></li>  
            <li data-target="#myCarousel5" data-slide-to="3"></li>
            <li data-target="#myCarousel5" data-slide-to="4"></li>                                       
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-4-1.jpg">
            </div>  
            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-4-2.jpg">
            </div>  
            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-4-3.jpg">
            </div>  
            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-4-4.jpg">
            </div>  
            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-4-5.jpg">
            </div>                                                           
          </div>

          <!-- Left and right controls -->
          <a class="slide-controls left carousel-control" href="#myCarousel5" role="button" data-slide="prev">
            <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="slide-controls right carousel-control" href="#myCarousel5" role="button" data-slide="next">
            <span aria-hidden="true"><i class="fa fa-arrow-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </div>          
      </div>    
    </div>
  </div>
</div>


<!-- Day20 -->
<div class="modal fade" id="day20" tabindex="-1" role="dialog" aria-labelledby="day20">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="5" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://instagram.com/p/9L7cVkkNkv/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">&#34;How will we rest in peace&#34; - @wegetscared ; R.I.P  Good stuff guys &lt;3 did @adamvscared for this one :3 #drawing #sketch #doodle #adamvscared #getscared #rip #restinpiece #demons #31daysofgs #tomb #grave #art #artist #rock #metal</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A photo posted by Chris Wong (@the_hollowed_artist) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2015-10-23T16:13:08+00:00">Oct 23, 2015 at 9:13am PDT</time></p></div></blockquote>
        <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>        
      </div>    
    </div>
  </div>
</div>


<!-- Day21 -->
<div class="modal fade" id="day21" tabindex="-1" role="dialog" aria-labelledby="day21">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
        <div id="myCarousel6" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel6" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel6" data-slide-to="1"></li>            
            <li data-target="#myCarousel6" data-slide-to="2"></li>  
            <li data-target="#myCarousel6" data-slide-to="3"></li>                                                  
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-5-1.jpg">
            </div>  
            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-5-2.jpg">
            </div>  
            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-5-3.jpg">
            </div>  
            <div class="item">
              <img src="https://s3.amazonaws.com/myfangate.com/getscared/slide-5-4.jpg">
            </div>                                                            
          </div>

          <!-- Left and right controls -->
          <a class="slide-controls left carousel-control" href="#myCarousel6" role="button" data-slide="prev">
            <span aria-hidden="true"><i class="fa fa-arrow-left"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="slide-controls right carousel-control" href="#myCarousel6" role="button" data-slide="next">
            <span aria-hidden="true"><i class="fa fa-arrow-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </div>          
      </div>    
    </div>
  </div>
</div>

<!-- Day22 -->
<div class="modal fade" id="day22" tabindex="-1" role="dialog" aria-labelledby="day22">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/BF4GF9lGyw4?rel=0&showinfo=0"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>


<!-- Day23 -->
<div class="modal fade" id="day23" tabindex="-1" role="dialog" aria-labelledby="day23">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/XxNEDlZad5k?rel=0&showinfo=0"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>

<!-- Day24 -->
<div class="modal fade" id="day24" tabindex="-1" role="dialog" aria-labelledby="day24">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/getscared/day24image.jpg">
      </div>    
    </div>
  </div>
</div>

<!-- Day25 -->
<div class="modal fade" id="day25" tabindex="-1" role="dialog" aria-labelledby="day25">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/getscared/day25image.jpg">
      </div>    
    </div>
  </div>
</div>


<!-- Day26 -->
<div class="modal fade" id="day26" tabindex="-1" role="dialog" aria-labelledby="day26">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/qZztwEY8id8?list=PLsBWlr67U5NtjmfQHPGYbB3e1ipsNm5BC"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>

<!-- Day27 -->
<div class="modal fade" id="day27" tabindex="-1" role="dialog" aria-labelledby="day27">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/zZH3BvZIFuQ?rel=0&showinfo=0"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>

