<!-- Day1 -->
<div class="modal fade" id="day1" tabindex="-1" role="dialog" aria-labelledby="day1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item video" src="https://www.youtube.com/embed/LLAKZUmrMmU?rel=0&showinfo=0"></iframe>
          </div>  
      </div>    
    </div>
  </div>
</div>