<div id="social" class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 text-center text-shadow">
      <h2>JOIN THE #31DAYSOFGETSCARED CONVERSATION</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div id="social-stream"></div>
    </div>
  </div>
</div>
